body{
    
   font-family: 'Staatliches', cursive;
    font-size: 45rem;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}
.clock{

    display: flex;
    justify-content: center;
    margin: auto;
}
.second{
    margin: 0em 5rem 12rem 5rem;
    align-self: flex-end;
    font-size: 10rem;
}